body{
 background: url("../Image/blueImage.png");
}
#gameOverText {
  font-family: comic sans MS;
  right: -30vw;
  position: relative;
  opacity:0.9;
  color: white;
  z-index: 15;
  font-size: 100px;
  top: -45vw;
    text-shadow: 2px 2px black;
}

.losetext {
  color: white;font-family: comic sans MS;
right: -70vw;
color: white;
font-family: comic sans MS;

  position: relative;
  color: white;
  z-index: 10;
  font-size: 50px;
  top: -60vw;
  overflow:auto;
}

.tieCount {
  color: white;
  font-family: comic sans MS;
  right: -80vw;
  position: relative;
  color: white;
  z-index: 5;
  font-size: 40px;
  top: -58vw;
  overflow:auto;
}
.loseCount {
  color: white;
  font-family: comic sans MS;
  right: -80vw;
  position: relative;
  color: white;
  z-index: 5;
  font-size: 40px;
  top: -60vw;
  overflow:auto;
}
.tietext {
  color: red;
  font-family: comic sans MS;
  right: -70vw;
  position: relative;
color:white;
  z-index: 13;
  font-size: 40px;
  top: -58vw;
  overflow:auto;
}

#diagonal1 {
  content: "";
  position: relative;
  border-top: 8px solid white;
  width: 450px;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  left: 20%;
  z-index: 10;
  visibility: hidden;
}

#diagonal2 {
  content: "";
  position: relative;
  border-top: 8px solid white;
  width: 450px;
  transform: rotate(-45deg);
  transform-origin: 0% 0%;
  left: 21%;
  z-index: 10;
  top: 320px;
  visibility: hidden;
}

#vertical1 {
  background-color: white;
  width: 10px;
  height: 400px;
  position: absolute;
  left: 38%;
  top: 0px;
  z-index: 11;
  visibility: hidden;
}

#vertical2 {
  background-color: white;
  width: 10px;
  height: 400px;
  position: absolute;
  left: 40%;
  top: 0px;
  z-index: 11;
  visibility: hidden;
}

#vertical3 {
  background-color: white;
  width: 10px;
  height: 400px;
  position: absolute;
  left: 48%;
  top: 0px;
  z-index: 10;
  visibility: hidden;
}


.background-option {
  background: url("../Image/blueImage.png");
  background-size: cover;
  z-index: 0;
  position: static;
  height: 150%;
  color: white;

}

.player {
  z-index: 12;
  left: 0px;
  top: 100px;
  background-color: black;
}

p {
  color: white;
}

#row1 {
  background-color: white;
  width: 500px;
  height: 10px;
  position: relative;
  left:13%;
  top: 50px;
  z-index: 9;
  visibility: hidden;
}

#row2 {
  background-color: white;
  width: 500px;
  height: 10px;
  position: relative;
  left: 13%;
  top: 170px;
  z-index: 9;
  visibility: hidden;
}

#row3 {
  background-color: white;
  width: 500px;
  height: 10px;
  position: relative;
  left: 13%;
  top: 280px;
  z-index: 10;
  visibility: hidden;
}

.box {
    z-index: 1;
  border: solid;
  border-color: white;
  color: white;
  height: 100px;
  width: 100px;
  background-color: black;
  margin: 1px;
  display: inline-block;
  position: relative;
  right: -200px;

}

span {
  position: absolute;
  color: white;
  font-size: 30px;
  right: 38px;
  top: 25px;
}

#box1 {
  color: white;
}

#modal {
  font-size: 30px;
  font-family: comic sans MS;
  background-color: white;
  height: 20vw;
  width: 50%;
  position: absolute;
  top: 50px;
  left: 200px;
  z-index: 10;
  box-shadow: 9px 9px black;
  border-radius: 5px;
  opacity:0.9;
}